
html{
  height: 100%;
}

body {
  /*background-color: #fcfcfc;*/
  background-color: #cfd8dc;
  color: #616161;
}

.btn-large{
  width:70%;
}

.text-col{ color: #616161;}

.mt10 { margin-top: 10px; }
.mt30 { margin-top: 30px; }
.mr10 { margin-right: 10px;}
.ml10 { margin-left: 10px; }
.b30 {
  position: relative;
  margin-top:-10%;
  padding-top: 15px;
  margin-bottom: 0;}

  .loadingWidth {
    width: 90px;
    margin-left: 32%;
    padding-top: 20px;
  }


  .fa-cyan:before{color: #00bcd4;}
  .fa-white:before{color: white;}


  .side-nav a { color: #616161; }
  .side-nav a:hover {
    background-color: #00bcd4;
    color: #fff;
  }



  #slide-out div.divider{
    background-color: #607d8b;
  }

  nav .brand-logo{
    font-size: 21px;
  }

  nav{
    height: 50px;
    line-height: 50px;
  }

  nav .button-collapse i{
    font-size: 2.0rem;
    height: 50px;
    line-height: 50px;
  }

  .card{
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
    box-shadow: 0 0 0 0 rgba(0,0,0,0.0),0 0 0 0 rgba(0,0,0,0.0);
    border-left: 7px solid #00bcd4;
  }

  .card .card-image{margin-top: 24px;}
  .card .card-content { padding: 10px;}
  .card .card-image img{ border-radius: 0 0 0 0; }


  .btn-circle{
    width: 25%;
    height: 50px;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 2.33;
    border-radius: 35px;
    background-color: #eceff1;
    /*opacity: 0.2;*/
    border: 2px solid #00bcd4;
  }

  .l-white{
    background-color: #eceff1;
  }
  .l-white:hover{
    background-color: #eceff1;
  }

  .fixed-action-btn {
    z-index: 2;
  }
  ::-webkit-input-placeholder{
    color: #616161;
  }

  .fab{
    bottom: 110px;
    right: 18px;
  }

  .bottom-line{
    border-bottom:solid #00bcd4;
  }

  #file_01,#mask_file_01{
	display:none;
}
/*
.showUserIcon{
    background: #cfd8dc;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
*/

.wrapper {
	width: 100%;
	height: 100vh;
	font-size: 13px;
  /*
	background: #DB3A3E;
  */
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
	-webkit-transform-origin: right center;
	-ms-transform-origin: right center;
	transform-origin: right center;
}

.contents {
	width: 100%;
	height: 100%;
	display: table;
}

.contents__inner {
	box-sizing: border-box;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: 640px;
	height: 100vh;
	margin: 0 auto;
	padding: 50px 24px;
}

.contents__inner h1 {
	margin-bottom: 30px;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
}

/* --------------------------------------------------- side menu */
.side-menu {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	width: 150px;
	height: 100%;
	padding: 100px 0;
  /*
	background: #57DDDD;
  */
  background: #00bcd4;
	-webkit-transition: all;
	transition: all;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
	-webkit-transform: perspective(500px) rotateY(90deg);
	transform: perspective(500px) rotateY(90deg);
	opacity: 0;
}

.side-menu li {
	text-align: left;
	opacity: 0;
}

.side-menu li a {
	display: block;
	height: 50px;
  width: 150px;
	line-height: 50px;
	font-size: 12px;
	color: #fff;
	-webkit-transition: all .8s;
	transition: all .8s;
}

.side-menu li a:hover {
	color: #1a1e24;
	background: #fff;
}

/* --------------------------------------------------- hamburger */
.hamburger-btn {
	position: fixed;
	top: 20px;
	left: 20px;
	display: block;
	width: 40px;
	font-size: 10px;
	text-align: center;
	cursor: pointer;
	z-index: 1;
}

.hamburger-btn__inner {
	position: relative;
	width: 40px;
	height: 30px;
}

.bar {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 40px;
	height: 1px;
	background: #00bcd4;
}

.bar.patty {
	top: 50%;
}

.bar.heel {
	top: 100%;
}

.hamburger-btn__text {
	margin-top: 8px;
	color: #00bcd4;
}

/* --------------------------------------------------- hover */
.hamburger-btn:hover ~ .wrapper,
.side-menu:hover ~ .wrapper {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-transform: perspective(500px) rotateY(-5deg);
	transform: perspective(500px) rotateY(-5deg);
}

.hamburger-btn:hover ~ .side-menu,
.side-menu:hover {
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	opacity: 1;
	z-index: 2;
}

.hamburger-btn:hover ~ .side-menu li:nth-child(1),
.side-menu:hover li:nth-child(1) {
	-webkit-transition: opacity .8s linear .4s;
	transition: opacity .8s linear .4s;
	opacity: 1;
}

.hamburger-btn:hover ~ .side-menu li:nth-child(2),
.side-menu:hover li:nth-child(2) {
	-webkit-transition: opacity .8s linear .6s;
	transition: opacity .8s linear .6s;
	opacity: 1;
}

.hamburger-btn:hover ~ .side-menu li:nth-child(3),
.side-menu:hover li:nth-child(3) {
	-webkit-transition: opacity .8s linear .8s;
	transition: opacity .8s linear .8s;
	opacity: 1;
}

.hamburger-btn:hover ~ .side-menu li:nth-child(4),
.side-menu:hover li:nth-child(4) {
	-webkit-transition: opacity .8s linear 1s;
	transition: opacity .8s linear 1s;
	opacity: 1;
}

.hamburger-btn:hover ~ .side-menu li:nth-child(5),
.side-menu:hover li:nth-child(5) {
	-webkit-transition: opacity .8s linear 1.2s;
	transition: opacity .8s linear 1.2s;
	opacity: 1;
}

.hamburger-btn:hover ~ .side-menu li:nth-child(6),
.hamburger-btn:hover ~ .side-menu li:nth-child(7),
.hamburger-btn:hover ~ .side-menu li:nth-child(8),
.side-menu:hover li:nth-child(6),
.side-menu:hover li:nth-child(7),
.side-menu:hover li:nth-child(8)
 {
	-webkit-transition: opacity .8s linear 1.2s;
	transition: opacity .8s linear 1.2s;
	opacity: 1;
}
